/* GENERAL */
main {
    max-width: 100%;
    margin: auto;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
  }
  
.test{
    margin: 300px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section img{
    margin: 10px 0px;
}

/* FONTS */
@font-face {
    font-family: AlbertBlack;
    src: url("fonts/AlbertSans-Black.ttf");
  }
  
  @font-face {
    font-family: AlbertBlack;
    src: url("fonts/AlbertSans-Bold.ttf");
  }
  
  @font-face {
    font-family: AlbertRegular;
    src: url("fonts/AlbertSans-Regular.ttf");
  }

  h1,
  h3,
  h4,
  ul,
  li{
    font-family: 'AlbertBlack';
    text-align: center;
  }

h5{
    font-family: 'AlbertRegular';
    margin-bottom: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 100%;
}



p{
    font-family: 'AlbertRegular';
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 140%;
}

.kontakt-text p{
    font-family: 'AlbertRegular';
    margin-bottom: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 100%;
}

.copyright p{
    font-family: 'AlbertRegular';
    margin-bottom: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 100%;
}

nav ul .dropdown li a {
    font-family: 'AlbertRegular';
  }

  h3{
    font-size: 1.7rem;
    margin-top: 50px;
} 

h4{
    font-size: 1rem;
    margin-top: 10px;
} 


/* MENU */
.logo-menu{
    max-width: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu {
    background-color: #34495E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-menu {
    display: none;
    list-style: none;
    gap: 40px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    letter-spacing: 10%;
}

/* DROPDOWN */
.dropdown-menu {
    position: absolute;
    background-color: #34495E;
    list-style: none;
    min-width: 150px;
    visibility: hidden;
    padding: 10px;
    z-index: 999;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
}

.dropdown-menu li {
    padding: 5px 20px;
}

/* BURGER MENU */
.burger-menu {
    flex-direction: column;
    padding-right: 5px;
}

.burger-line {
    width: 40px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* BURGER MENU MOBILE OVERLAY */
.mobile-menu {
    position: fixed;
    top: 10%;
    width: 100%;
    height: 100%;
    background-color: #34495E;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 9999;
}

.mobile-menu.active {
    opacity: 1;
    visibility: visible;
}

.mobile-menu-content {
    text-align: center;
}

.mobile-main-menu-link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-top: 60px;
    transition: all 0.3s ease;
    font-family: 'AlbertBlack';
}

.mobile-sub-menu-link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 10px 0;
    transition: all 0.3s ease;
    font-family: 'AlbertRegular';
}

body.menu-open {
    overflow: hidden;
}


/* BURGER MENU ANIMATION */
.burger-menu.active .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.burger-menu.active .burger-line:nth-child(2) {
    display: none;
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}




/* FOOTER */
.footer {
    background-color: #34495E;
    color: white;
    padding: 4% 5%;
    margin-top: 70px;
  }
  
  .logo-footer{
    max-width: 30%;
    align-items: center;
    margin-top: 20px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-text {
    list-style: none;
    margin-bottom: 30px;
}

.menu-text a{
    text-decoration: none;
    color: white;
    font-family: 'AlbertRegular';
    letter-spacing: 2px;
    line-height: 200%;
}

.copyright {
    border-top: 1px solid #4A5F7A;
    padding-top: 30px;
    width: 100%;
    text-align: center;
}

.copyright p {
    font-size: 0.8rem;
    color: white;
}

/* LOTTIE FILE */
.desktop-only{
    display: none;
}


/* MAIN */
.portfolio, .om-mig {
    max-width: 80%;
    margin: auto;
}

.cta {
    background: #2f4356;
    color: #fff;
    padding: 0.75rem 1.25rem;
    font-family: 'AlbertBlack';
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block; 
  }

  /* CAROUSEL */
  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #34495E;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .card {
    max-width: 400px;
    padding: 1.5rem;
    background: #34495E;
  }
  
  .card-tema {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .card-tema_nr {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 140%;
  }
  
  .cta-inverse {
    background: white;
    color: #2f4356;
    padding: 0.75rem 1.5rem;
    font-family: 'AlbertBlack';
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .arrow {
    font-size: 2rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }


/* LEARNED BULLET POINTS */
.learned h3{
    margin-top: 20%;
}

.learned {
  max-width: 400px;
  margin: 2rem auto;
}

.learned ul {
  list-style: none;
  margin: 20px 10%;
  padding-bottom: 5%;

}

.learned li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: 'AlbertRegular';
}

.filled::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #34495E;
  border-radius: 50%;
  display: inline-block;
}

.outlined::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border: 2px solid #34495E;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2rem;
}

/* MEDIA QUERY */
@media (width > 800px) {
    .nav-menu {
        display: flex;
        list-style: none;
        gap: 40px;
    }
    
    .burger-menu{
        display: none;
    }

    .logo-menu{
        max-width: 7%;
        padding-top: -20px;
    }

    .container-footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
    }

    h3{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 15px;
        line-height: 130%;
    }
    
    .kontakt-text p{
        margin-bottom: 15px;
        letter-spacing: 1px;
        line-height: 200%;
    }
    
    .copyright p{
        margin-bottom: 15px;
        letter-spacing: 1px;
        line-height: 200%;
    }

    .logo-footer{
        max-width: 30%;
        align-items: center;
        margin-top: 0px;
    }

    /* LOTTIE FILE */
    .mobile-only{
        display: none;
    }

    .desktop-only{
        display: block;
    }

    /* GRID */
    .portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 60px;
    }

    .portfolio h3{
        margin-top: 20%;
        text-align: left;
    }

    .portfolio h4{
        text-align: left;
    }

    .portfolio img{
        padding: 40px;
    }

    .portfolio p{
        margin-top: 20px;
    }

    .om-mig{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 60px;
    }

    .om-mig h3{
        margin-top: 20%;
        text-align: left;
    }

    .om-mig img{
        padding: 40px;
    }

    .om-mig p{
        margin-top: 20px;
    }
}